.rochester {
  font-family: 'Rochester', sans-serif;
  /* font-size: 1em; */
}

.nav-title {
  font-family: 'Cormorant', sans-serif;
  font-size: 1.4em !important;
}

.nav-sub-title {
  font-family: 'Cormorant', sans-serif;
  font-size: 1em !important;
}
.sans-serif {
  /* font-size: 1em; */
  font-family: 'Cormorant', sans-serif !important;
}

.serif {
  /* font-size: 1em !important; */
  font-family: 'Cormorant', serif !important;
}

/* @media only screen and (max-device-width: 500px) and (-webkit-min-device-pixel-ratio: 1) {
  html {
    font-family: 'Rochester', sans-serif;
    font-size: 1.4em;
  }

  .nav-title {
    font-family: 'Cormorant', sans-serif;
    font-size: 1.2em !important;
  }
  .sans-serif {
    font-size: 1.2em;
    font-family: 'Cormorant', sans-serif !important;
  }

  .serif {
    font-size: 1.2em !important;
    font-family: 'Cormorant', serif !important;
  }
} */

/* .display {
  font-family: 'Playfair Display', serif;
} */

.h0 {
  height: 0;
}

.w0 {
  width: 0;
}

.vh-7 {
  height: 7vh;
}
.vh-93 {
  height: 93vh;
}

.ease {
  transition: all 0.4s ease;
}

.fadeIn {
  animation: fadeIn 0.4s normal forwards;
}

.fadeOut {
  animation: fadeOut 0.2s normal forwards;
}

.menu__item {
  visibility: none;
}

@media screen and (min-width: 60em) {
  .tl-75-l {
    transform: translateY(-75%);
  }
}

@keyframes fadeIn {
  0% {
    visibility: hidden;
    opacity: 0;
  }

  1% {
    visibility: visible;
    opacity: 0;
  }

  100% {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}

/* Article Styles */

/* Rhythm */
.article__container p {
  padding-top: 1em;
  padding-bottom: 1em;
  line-height: 1.6em;
}

/* Styles for quotes */
.article__container blockquote {
  font-style: italic;
  text-align: center;
  padding: 0px;
}

/* Styles for links */
.article__container a {
  color: #aaf0d1;
  text-decoration: none;
}

.article__container a:hover {
  text-decoration: underline;
}

/* Styles for headers */
.article__container h1,
.article__container h2,
.article__container h3,
.article__container h4,
.article__container h5,
.article__container h6 {
  font-family: 'Karla', sans-serif;
  font-weight: 600;
}

/* Styles for code */
.article__container pre {
  padding: 0.5rem;
  font-size: 1rem;
  background-color: #eee;
  white-space: pre-wrap;
}
.bg-main {
  background-color: #aaf0e9 !important;
}

.dark-btn {
  color: #17252a;
  background-color: #def2f1;
}
.lite-btn {
  color: #0e5245;
  background-color: #aaf0e9;
}
.bg-body {
  background-color: #ebf9fb;
}

.img {
  width: 100%;
  height: 100%;
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  animation-timing-function: ease-in-out;
  animation-duration: 10s;
}
